.social{
    display: ;
    width: 100vw;
    position: relative;
    overflow: hidden;
    background-color: black;
    color: black;
    bottom: 0;
    background-color: ; 
    text-align: center; 
    font-family: Poppins;
    padding-bottom: 5vh; 
    box-shadow: 0px 0px 30px 0px #000000;
    z-index: 100;
  }
  .social a{
    padding: 20px;
  }
  @keyframes heartFadeInOut {
    0% {transform: scale(1);}
    25% {transform: scale(.97);}
    35% {transform: scale(.9);}
    45% {transform: scale(1.1);}
    55% {transform: scale(.9);}
    65% {transform: scale(1.1);}
    75% {transform: scale(1.03);}
    100% {transform: scale(1);}
  }

  #heart img.bottom { 
    animation-name: heartFadeInOut; 
    animation-iteration-count: infinite;
    animation-duration: 2s;
  }

/*====pc*====*/
@media only screen and (min-device-width: 1100px){
  .right_content{
    margin: 0 0 0 0;
    color: white;
  }
  .right_content h2{
    font-size: 10.5rem;
  }
  .footer_field{
    text-align: center;
    border: 2px solid #fff;
    background-image: -webkit-linear-gradient(225deg, #AAB7B8, #fff);
    background-image: linear-gradient(-135deg, #AAB7B8, #fff);
    padding: 1vh 8vw 1vh 8vw;
    border-radius: 2vh;
  }
  .footer_btn{
    border: 2px solid #fff;
    padding: 1vh 1vw 1vh 1vw; 
    background-color: #A6ACAF; 
    border-radius: 20px;
  }

  .heart_mobile{
    display: none;
  }
  .social-logos img{
    width: 4em;
    height: 4em;
    margin: .15em;
    margin-top: .005em;
    margin-bottom: .2em;
    margin-right:.15em ;
    padding: .15em;
    padding-right: .3em;
    line-height: .85;
    background: white; 
    border-radius: 50%;
  }
  .left_content{
    background-color: black; 
    list-style: none; 
    float: left; 
    display:inline-block; 
    text-align: center; 
    width:50%; 
    padding-top: 5vh;
  }
  .right_content{
    width: 50%; 
    float: right; 
    text-align:center; 
    padding-top: 5vh;
  }}
  
  


/*=====mobile=====*/
@media only screen and (max-device-width: 1100px){
  .social{
    margin-top: 5vh;
  }
  .right_content{
    margin: 0 0 0 0;
    color: white;
  }
  .right_content h1{
    padding-top: 2vh;
    font-size: 7vh;
  }
  .right_content h2{
    font-size: 3rem;
  }
  .footer_field{
    text-align: center;
    margin:1.5vh 0 1.5vh 0;
    font-size: 2.5rem;
    border: 2px solid #fff;
    background-image: -webkit-linear-gradient(225deg, #AAB7B8, #fff);
    background-image: linear-gradient(-135deg, #AAB7B8, #fff);
    padding: 1vh 15vw 1vh 15vw;
    border-radius: 2vh;
  }
  .footer_btn{
    font-size: 2.5rem;
    border: 2px solid #fff;
    padding: 1vh 1vw 1vh 1vw; 
    background-color: #A6ACAF; 
    border-radius: 2.5vh;
  }

  .heart_pc{
    display: none;
  }
  .social-logos img{
    width: 9vh;
    height: 9vh;
    margin: .15em;
    margin-top: .005em;
    margin-bottom: .2em;
    margin-right:.15em ;
    padding: .15em;
    padding-right: .3em;
    line-height: .85;
    background: white; 
    border-radius: 50%;
  }
  .left_content h1{
    padding-top: 2vh;
    font-size: 7vh;
  }
  .ab img{
    margin: 2vh 0 0 0;
    height: 10vh;
  }
  }  
/*==========contact ends==========*/